header {
  position: relative;
  height: 50px;
  margin-bottom: 15px;
  background-color: #333333;

  h1 {
    padding: 8px;
    text-align: center;
    color: #EEEEEE;
  }
  .button {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    top: 12px;
    left: 15px;
    // margin: 5px 15px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);

    transition: background-color 0.2s;

    &:hover {
      background-color: #fffbd7;
    }
  }
}