<h2>Sites!</h2>
<div class="sites-list">
  <div class="site-row" ng-repeat="site in sitesCtrl.sites">
    <div class="site-item" ng-click="site.showDevices = !site.showDevices">
      <div class="item-cell">
        <p class="header">ID</p>
        <p>{{ site.id }}</p>
      </div>
      <div class="item-cell">
        <p class="header">Name</p>
        <p>{{ site.name }}</p>
      </div>
      <div class="item-cell">
        <p class="header">Devices attached</p>
        <p>{{ site.devices.length }}</p>
      </div>
    </div>

    <div class="devices-list hidden" ng-class="{'hidden': !site.showDevices}">
      <div class="device-item" ng-repeat="device in site.devices">
        <div class="item-cell">
          <p class="header">ID</p>
          <p>{{ device.id }}</p>
        </div>
        <div class="item-cell">
          <p class="header">Name</p>
          <p>{{ device.name }}</p>
        </div>
        <div class="item-cell">
          <p class="header">Connected</p>
          <p ng-if="device.connected == true">Yes</p>
          <p ng-if="device.connected == false">No</p>
        </div>
        <div class="item-cell">
          <p class="header">Model</p>
          <p>{{ device.model }}</p>
        </div>
        <div class="item-cell">
          <p class="header">Version</p>
          <p>{{ device.version }}</p>
        </div>
        <a class="button" ui-sref="base.device({ id: device.id })">Read more</a>
      </div>
    </div>
  </div>
</div>